<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
      <h2><%= list.product_name%></h2>
      <div class="content">
        <p class="timestamp"><%= formatDateTime(list.timestamp)%></p>
        <p><%= list.shop_name_path%></p>
        <p><%= list.product_price_path%></p>
        <p><%= list.url%></p>
        <p><%= list.remark%></p>
        <img src="<%= list.thumbnail%>" alt="" width="300" />
      </div>
      <a class="delete" data-doc="<%= list.id%>">delete</a>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
      const trashcan = document.querySelector('a.delete');
      trashcan.addEventListener('click', (e) => {
        const endpoint = `/lists/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: 'DELETE',
        })
          .then((response) => response.json())
          .then(
            (data) => (
              (window.location.href = data.redirect), console.log(data)
            ),
          )
          .catch((error) => console.log(error));
      });
    </script>
  </body>
</html>
