<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>Scraping Lists</h2>
      <% if (lists.length > 0){ %> <% lists.forEach(list=>{ %>
      <a class="single" href="/lists/<%= list.id %>">
        <h3 class="title"><%= list.product_name%></h3>
        <p class="snippet"><%= list.shop_name_path%></p>
        <p class="snippet"><%= list.product_price_path%></p>
        <p class="snippet"><%= list.url%></p>
        <p class="snippet"><%= list.remark%></p>
      </a>
      <% })%> <%}%>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
