<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>Scraping Lists</h2>
      <% if (lists.length > 0){ %> <% lists.forEach(list=>{ %>
      <a class="single" href="/lists/<%= list.id %>">
        <div class="text">
          <h3 class="title"><%= list.product_name%></h3>
          <p class="snippet">
            <b>shop_name_path:</b>
            <%= list.shop_name_path%>
          </p>
          <p class="snippet">
            <b>product_price_path:</b>
            <%= list.product_price_path%>
          </p>
          <p class="snippet">
            <b>url:</b>
            <%= list.url%>
          </p>
        </div>
        <div class="thumbnail">
          <% if (list.thumbnail){ %>
          <img class="image" src="<%= list.thumbnail%>" alt="" />
          <% }%> <% if (!list.thumbnail){ %>
          <img
            class="image"
            src="https://placehold.jp/5dab9f/ffffff/150x150.png?text=Not Images"
            alt=""
          />
          <% }%>
        </div>
      </a>

      <% })%> <%}%>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
